
/MarkTableObject/obj
/MarkTableObject/Backup
/MarkTableObject/bin
/DBUtility/bin
/DBUtility/obj
/DBUtility/bin/Debug/hwj.DBUtility.dll
/MarkTableObject/bin/Debug
/DBUtility.Core/obj
/DBUtility.Core/bin
/DBUtility.Core/nupkgs
DBUtility/.vs/
MarkTableObject/.vs/
MarkTableObject/MarkTableObject.csproj.user
MarkTableObject/MarkTableObject_TemporaryKey.pfx
MarkTableObject/Properties/app.manifest
